header {
  background: rgb(50, 81, 109);
  color: white;
}

nav {
  display: flex;
  align-items: center;
}

nav h1 {
  font-size: 22px;
}

nav .nav-item {
  padding: 15px;
}

nav a {
  color: white;
  opacity: 0.8;
}

nav a:hover, nav a:active {
  opacity: 0.5;
}