body {
  margin: 0;
  padding: 0;
  background: #eee;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 15px;
}

.actions {
  display: flex;
  padding: 15px 0;
  align-items: center;
  flex-wrap: wrap;
}

.actions button {
  margin-right: 30px;
}

.panel {
  background: white;
  padding: 15px;
  margin: 15px 0;
}

.hint {
  opacity: 0.6;
}

.margin {
  margin-top: 10px;
}

.entrenado {
  margin-left: 15px;
  font-weight: bold;
}

.sign {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.loading-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.result {
  background: white;
  padding: 15px;
  margin-top: 15px;
}

.result h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}

.result h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.result .item {
  display: flex;
  align-items: center;
  line-height: 30px;
  border-bottom: 1px solid #eee;
  padding: 15px 0;
}

.result .item .text {
  flex: 1;
}

.progress-wrapper {
  width: 40%;
  height: 20px;
  background: #eee;
  margin-left: 15px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.progress-wrapper .progress {
  top: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  background: rgb(50, 81, 109);
}